<div class="container">
  <div><h1>Stupid coaching</h1></div>
  <div><p>Ask your coach anything</p></div>
  <div>
    <form class="question-form" action="/answer">
    <input class="user-input" type="text" name="user_input">
    <input type="submit" value="Ask!" class="btn-submit">
  </form>
  </div>
</div>
